<div
  data-users-dropdown-target="userActions"
  aria-orientation="vertical"
  aria-labelledby="menu-button"
  class="z-40 hidden absolute top-[50px] left-[50px] w-[160px] rounded-[3px] border-[1px] border-sidebar bg-white divide-[2px] focus:outline-none text-black"
>
  <div class="py-1" role="none">
    <%# <div data-action="click->checkbox-select-all#getCheckedUserIds" role="menuitem" tabindex="-1" id="menu-item-0" class="block px-3 py-2 hover:bg-sidebar hover:text-white">
      Message group
    </div> %>
    <div data-action="click->checkbox-select-all#deleteUsers" role="menuitem" tabindex="-1" id="menu-item-1" class="block px-3 py-2 hover:bg-sidebar text-red">
      Delete
    </div>
  </div>
</div>
